@import '../node_modules/react-modal-video/scss/modal-video.scss';

body::-webkit-scrollbar{
    width: 6px;
}
body::-webkit-scrollbar-thumb{
    background-color: #222831;
}


.slick-slide{
    width: 210px !important;
    margin-right: 15px;
}
.switch {
    width: 88px;
    height: 40px;
    background-color: #76ABAE;
    display: flex;
    justify-content: flex-start;
    border-radius: 50px;
    padding: 9px;
    cursor: pointer;
  }
  
  .switch[data-isOn="true"] {
    justify-content: flex-end;
  }
  
  .handle {
    width: 23px;
    height: 23px;
    background-color: #222831;
    border-radius: 40px;
  }
  .slick-arrow{
    transform: scale(1.4);
  }